/*
	Colour-scheme: 
	https://coolors.co/11151c-212d40-364156-7d4e57-d66853

	Setting variables in CSS:
	https://developer.mozilla.org/en-US/docs/Web/CSS/Using_CSS_variables

	List of common webfonts:
	http://www.w3schools.com/cssref/css_websafe_fonts.asp

        Tutorial on importing fonts into webpage:
        http://www.webdesignerdepot.com/2013/01/how-to-use-any-font-you-like-with-css3/

        Tutorial on creating a navbar	
	http://www.w3schools.com/css/css_navbar.asp 

        Rotating Images in CSS:
        http://stackoverflow.com/questions/20061774/rotate-an-image-in-image-source-in-html
        user: VLS
*/

@fontface {
    font-family: 'bdPlakatbau';
    src: local('fonts/BDPLAKAT'),
         url('fonts/BDPLAKAT.ttf')
         format('truetype');
}

body {
    width: 500pt;
    color: black;
    background-image: url("img/bg-5-full.jpg");
    margin: 0;
    padding: 0;
}

ul {
    list-style-type: none;    
}

.headshot {
    position: absolute;
    left: 0pt;
    top: 0pt;
    z-index: -1;
    width: 250pt;
    float:left;
    background: #212d40;
}

.columnContainer {
    margin-top: 35pt;
    margin-left: 250pt;
    width: 100%;
}

.topSection {
    width: 100%;
    background: #364156;
    opacity: 0.9;
}

.leftColumn {
    float:left;
    background: #364156;
    opacity: 0.9;

    height: 200pt;
    width: 50%;
}

.rightColumn {
    float:right;
    background: #364156;
    opacity: 0.9;
    
    height: 200pt;
    width: 50%;
}

.topSection {
    height: 200pt;
    float:none;
}

.NavBar ul {
    color: #d66853;
    background: #212d40;
    border-bottom: 3pt solid #364156;

    font-family: "Arial Black", Gadget, sans-serif;
    margin: 0;
    width: 100%;
    display: inline;
    position: fixed;
    top: 0;
}

.NavBar li {
	float: left;
	border-right: 1pt solid #364156;
}

.NavBar li:last-child {
	border-right: none;
}

.NavBar li a {
        height: 20pt;
	display: block;
	color: #7d4e57;
	text-align: center;
	padding: 7pt;
}

.NavBar a:hover {
	color: #d66853;
}

.NavBar a.active {
	background-color: #364156;
	color: #d66853;
}

.NavBar a.about {
	background-color: #364156;
	color: #d66853;
        height: 100%;
        font-size: 10pt;
}
